@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans+Condensed:ital,wght@0,400;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
.fondo{
  background-color: #6DAEDB;
  font-family: Fira Sans Condensed;
}  

.fa-solid{
  margin: 0px;
}
.containerProductos{
  box-shadow: 1px 1px 1px rgb(44, 40, 40);

}
.containerNav{
  border-bottom: #000 solid 1px;
  margin-top: 5px;
}
.containerItems{
  border-left: #000 solid 1px;
  border-right: #000 solid 1px;
  margin-bottom: 5px;
}
.titulo {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}
.contacto a {
  text-decoration: none;
  color: #212529;
  font-size: 20px;
  margin-left: 200px;
}

h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
}


.containerClima {
  margin-top: 5px;
  border-radius: 20px;  
}
.containerClima:hover {
  border: #000 solid 2px;
}
.clima {
  text-align: center;

}
.clima h6 {
  text-align: start;
}

.card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  height: 450px;
  overflow: hidden;
  width: 400px;
}

.card > figure {
  width: 90%;
  margin: 20px auto 0 auto;
}

.card > figure > img {
  width: 100%;
}

.details {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 85%;
  width: 100%;
  transition: box-shadow .3s ease-in-out,
              top .3s ease-in-out;
}

.card:hover .details {
  box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
  top: 40%;
}

.details > .min-details {
  display: flex;
  justify-content: space-between;
}

.details > .min-details > h1 > span {
  color: #7B7B7B;
  display: block;
  font-size: .9rem;
  font-weight: 400;
}

.btn {
  background-color: #2892d7;
  border-radius: 5px;
  color: #FFF;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  transition: box-shadow .3s ease-in-out,
              transform .3s ease-in-out;
}

.btn:hover {
box-shadow: 0 5px 10px rgba(0,0,0,.3);
transform: translateY(-2px);
}

.headerForm{
  text-align: center;
  font-size: 50px;
  border-bottom: #000 solid 1px;
}

.cajaForm {
  width: 1255px;
  height: 400px;
  margin-left: 200px;

}
.containerDatos {
  margin: auto;
  border: #000 solid 1px;
  border-radius: 30px;
  width: 1210px;
}